@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.StreetExt)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.StreetExt)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.SpecificPickUpDate)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.SpecificPickUpDate)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.WeeklyPickUpDate)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.WeeklyPickUpDate)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.FreezeTimeFrameStart)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.FreezeTimeFrameStart)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.FreezeTimeFrameEnd)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.FreezeTimeFrameEnd)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Balance)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Details", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
</p>

