@model TrashCollector.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TodayPickups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodayPickups)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>